@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* variables */
  --color-white: #fff;
  --color-black: #000;

  --background-white: #fff;
  --background-black: #000;

  --foreground-white: #fff;
  --foreground-black: #000;

  --color-gray-50: #f9fafb;

  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;

  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-950: #030712;

  --background-gray-100: #f3f4f6;
  --background-gray-900: #111827;

  --foreground-gray-100: #f3f4f6;
  --foreground-gray-900: #111827;

  --color-emerald-50: #ecfdf5;

  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;

  --color-emerald-200: #a7f3d0;
  --color-emerald-300: #86efac;
  --color-emerald-400: #4ade80;
  --color-emerald-700: #047857;
  --color-emerald-800: #065f46;
  --color-emerald-950: #022c22;

  --background-emerald-100: #d1fae5;
  --background-emerald-900: #064e3b;

  --foreground-emerald-100: #d1fae5;
  --foreground-emerald-900: #064e3b;

  --background-slate-100: #f1f5f9;
  --background-slate-200: #e2e8f0;

  --background-slate-800: #1e293b;
  --background-slate-900: #0f172a;

  /* Default stylings */
  margin: 0 !important;
  padding: 0 !important;
  scroll-behavior: smooth !important;
  font-family: "Comfortaa", cursive !important;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: var(--color-gray-500) !important;
}

html::-webkit-scrollbar-thumb {
  background: var(--color-gray-600) !important;
}

html::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-700) !important;
}

html::-webkit-scrollbar-thumb:active {
  background: var(--color-gray-800) !important;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  transition: 200ms linear;
}

body {
  transition: 300ms ease-in-out;
  background-color: var(--background-gray-100);
  color: var(--foreground-gray-900);
}

[app-theme="light"] {
  background-color: var(--background-gray-100);
  color: var(--foreground-gray-900);
}

[app-theme="dark"] {
  background-color: var(--background-gray-900);
  color: var(--foreground-gray-100);
}

.App,
.page {
  min-height: 92vh !important;
  width: 100% !important;
}

.page {
  padding: 6rem 1rem 1rem 1rem;
}

.react-toggle-track {
  background-color: var(--background-slate-800) !important;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: var(--background-slate-900) !important;
}

.react-toggle--checked .react-toggle-track {
  background-color: var(--background-slate-100) !important;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: var(--background-slate-200) !important;
}

.tooltip {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}

.tooltip-text {
  top: 50%;
  z-index: 1;
  opacity: 0;
  right: 125%;
  padding: 5px;
  width: 120px;
  visibility: hidden;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
}
